@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-matrixGreen font-mono;
}

.neon-frame {
  box-shadow:
    0 0 5px #00ff41,
    0 0 10px #00ff41,
    0 0 20px #00ff41;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
